################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/.vs/*
/**/Debug
/**/*.lst
/**/*.rel
/**/*.rst
/**/*.sym
/**/*.asm
/**/*.hex
/**/*.tlog
/**/*.ihx
/**/*.lk
/**/*.map
/**/*.mem
/**/*.user
/**/DefaultOutput
/pico/build
/pico/build
/pico/build-outputs/my_project.uf2
