[submodule "pico/libs/pico-sdk"]
	path = pico/libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico/libs/waveshare"]
	path = pico/libs/waveshare
	url = https://github.com/waveshare/Pico_ePaper_Code.git
