################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/.vs/*
/**/Debug
/**/*.lst
/**/*.rel
/**/*.rst
/**/*.sym
/**/*.asm
/**/*.hex
/**/*.tlog
/**/*.ihx
/**/*.lk
/**/*.map
/**/*.mem
/**/*.user
/**/DefaultOutput

**/obj/
**/bin/
**/build/
**/build-outputs/
/udp-lambda-bridge/udp-lamb.96BB404A/Arm
/udp-lambda-bridge/Arm
