################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/.vs/*
/**/Debug
/CentralHeatingCore
/**/*.lst
/**/*.rel
/**/*.rst
/**/*.sym
/**/*.asm
/**/*.hex
/**/*.tlog
/**/*.ihx
/**/*.lk
/**/*.map
/**/*.user
/**/DefaultOutput