[submodule "PicoBuild/libs/pico-sdk"]
	path = PicoBuild/libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "PicoBuild/libs/waveshare"]
	path = PicoBuild/libs/waveshare
	url = https://github.com/waveshare/Pico_ePaper_Code.git
